*{

  font-family: 'Merriweather','Roboto', serif, sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body, html{
  height: 100%;
}
/*########################       PAGE ONE##########################*/
body{
  /*position: relative;*/
  background-color: #F2F1E8;
  color: #131511
/*margin: 0px 10px;*/
}
nav{
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px #E5E3DF;
  z-index: 99999;
}
#navigation img{
  width: 37px;
  float: left;
  position: fixed;
  margin: 16px 22px;
}
.links{
  display: flex;
  justify-content: center;


}
.links a:hover{
  color: #CD5D67;
}
.links a:active{
  color:#968772;

}
.links a{
  margin: 20px 60px 20px 0px;
  color: #968772;
  /*caret-color: #967343;*/
}
.banner{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
}
.banner h1{
  font-size: 50px;
font-weight: 500;
/*margin-bottom: -15px;*/
}
.banner h2{
  font-size: 30px;
  font-weight:100;
}
.main{
/*margin: 0px 10px;*/
}
.row-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0px 20px;

}
.row-1 section img{
  width: 100%;
  object-fit: cover;
  padding: 0px 8px;
  z-index: 0;
}
.row-1 p{
  align-items: baseline;
  background-color: #2B2F26;
  color: #F2F1DB;
  z-index: 100;
  display: block;
  position: absolute;
;
}
.product-1{
  flex: 1 1 55%;

}
.product-2{
flex: 1 1 15%;
}
.product-3 {
flex: 1 1 15%;
}
.product-1 p{
  width: 224px;
  height: 54px;
text-align: center;
padding-top: 15px;
margin-top: -70px;
margin-left: 8px;
}
.product-2 p{
  width: 71px;
  height: 54px;
  text-align: center;
  margin-top: -70px;
  margin-left: 8px;
  padding-top: 15px;
}
.product-3 p{
  width: 115px;
  height: 54px;
  text-align: center;
  margin-top: -70px;
  margin-left: 8px;
  padding-top: 15px;
}
.row-2{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0px 20px;
}
.row-2 img{
  width: 100%;
  object-fit: cover;
  padding: 0px 8px;
  z-index: 0;
  margin-top: 10px;
}
.row-2 p{
  align-items: baseline;
  background-color: #2B2F26;
  color: #F2F1DB;
  z-index: 100;
  display: block;
  position: absolute;
  text-align: center;
  margin-top: -70px;
  margin-left: 8px;
  padding-top: 15px;
  width: 224px;
  height: 54px;
}
.product-4{
flex: 1 1 20%;
}
.product-5{
flex: 1 1 20%;
}
.product-6{
flex: 1 1 40%;
}
.product-7{
flex: 1 1 20%;
}
footer{
  background-color: #2B2F26;
  color: #F2F1DB;
  height: 101px;
  width: 100%;
margin-top: 23px;

}
footer p{
  text-align: left;
    padding: 40px;
}
/*#######################   PAGE TWO ############################*/
.whole2{
  /*margin: 0px 200px;*/


}
#sec-1{
  margin-top: 100px;

line-height: 20px;
}
#sec-1 img{
  float: left;
width: 160px;
margin: 10px 20px 20px 0px;
height: 120px;
}
#sec-1 h1{
  text-align: center;
    margin-bottom: 100px;
    margin-top: 150px;
font-size: 100px;
/*width: 100%;*/
}
.class{
margin: 0px 50px;
}
.space{
  margin: 0px 50px;
}
.p2{
  margin: 0px 50px;
}
.quote{
quotes: "«" "»";
  /*quotes: "«" "»""«" "»";*/
  border-left: 1px solid #968773;
  /*margin-left: 600px;*/
  color: #968773;
  /*display: block;*/
  font-style: italic;
  padding-left: 20px;
  margin: 20px 0px;

/*width: 600px;*/
}
#sec-1 p{
  margin-top: 70px;
  line-height: 2em;
  font-size: 1.2em;

}
#sec-1 a{
  color: #968773;
}
#sec-1 span{
  display: block;
text-align: left;
padding-top: 30px;
font-size: 30px;
/*color: #72736D;*/
}

.p2{
  margin-top: -45px
}
.p2 p{
  margin-bottom: 40px;
}
.picture{
    background-image: url("./images/background-3.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;

}
.picture img{
  padding-top: 10%;
}
.picture p{
  text-align: center;
  color: #DFDFD6;
padding-top: 120px;
font-size: 50px;
}
.bottom{
    margin: 0px 50px;
    /*display: flex;*/
    /*flex-direction: column;*/
  /*flex-flow:column wrap;*/
display: inline-block;
}
.bottom::after{
  content: "";
 clear: both;
}
.bottom img {
  float: right;
  margin: 10px;

}
.bottom div{
/*text-align: right;*/
text-align: left;
margin: 10px 10px;
width: 200px;
clear: both;
float: right;
font-size: 15px;
}
#sec-2{
  margin-top: 20px;
  /*margin: 0px 100px;*/
line-height: 20px;
}
#sec-2 p{
  margin-top: 20px;
  line-height: 2em;
  font-size: 1.2em;

}
#sec-2 h1{
  text-align: center;
    margin-bottom: 50px;
}
#sec-2 a{
  display: block;
text-align: left;
padding-top: 30px;
font-size: 30px;
}
#table{
    margin: 0px 50px;
}
#table span{
  display: block;
text-align: left;
padding-top: 30px;
font-size: 30px;
  margin-bottom: 25px;
}
table{
  margin-bottom: 50px;
}
table, td{
  border: 1px solid #2B2F26;
  border-collapse: collapse;

}
table td {
  padding: 10px;

}
#table .one{
  background-color: #F2EADD;
}
#table .two{
  background-color: #F2EADD;
}
/*################# PAGE 3 ###########################*/
.whole3{
  background-image: url(images/background-2.jpg);
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 588px;
  position: fixed;
  /*top: 0;
  left: 0;*/

}
.section-1 {
background-color: #FFFFFF;
width: 614px;
height: 380px;
margin: auto;
margin-top: 120px;
}
.header2{
  font-weight: lighter;
  font-size: 28px;
  text-align: center;
  padding-top: 40px;
}
.header3{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
}
.part1{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 5%;
  padding-top: 10%;
}
input {
  color: #757575;
border: 0;
font-size: 18px;
outline: none;
display: block;

}
.text{
  border-bottom: 2px solid #757575;
width: 100%;
}
.email{
  border-bottom: 2px solid #757575;
  width: 100%;

}
.email{
  margin-top: 20px;
}
.submit1 input{
border: 0px;
align: center;
color: #F2EFDF;
margin: auto;
margin-top: 20px;
background-color: #968773;
width: 127px;
height: 57px;
}
